#Methods
protected net.minecraft.world.chunk.storage.AnvilChunkLoader func_75820_a(Lnet/minecraft/world/chunk/Chunk;Lnet/minecraft/world/World;Lnet/minecraft/nbt/NBTTagCompound;)V #writeChunkToNBT
public net.minecraft.world.chunk.storage.AnvilChunkLoader func_75823_a(Lnet/minecraft/world/World;Lnet/minecraft/nbt/NBTTagCompound;)Lnet/minecraft/world/chunk/Chunk; #readChunkFromNBT
public net.minecraft.entity.Entity func_70101_b(FF)V #setRotation
public net.minecraft.entity.player.EntityPlayer func_71065_l()Z #isInBed
public net.minecraft.util.Vec3 func_72439_b(DDD)Lnet/minecraft/util/Vec3; #setComponents
public net.minecraft.client.Minecraft func_147122_X()Z #isJvm64bit
public net.minecraft.world.World func_72916_c(II)Z #chunkExists

#Fields
public net.minecraft.client.multiplayer.WorldClient field_73035_a #sendQueue
public net.minecraft.entity.EntityLivingBase field_70703_bu #isJumping
public net.minecraft.client.entity.EntityClientPlayerMP * #TOOMUCHFIELDS
public net.minecraft.server.management.ItemInWorldManager * #TOOMUCHFIELDS
public-f net.minecraft.server.management.ServerConfigurationManager field_72404_b #playerEntityList
public-f net.minecraft.client.renderer.RenderGlobal *
public net.minecraft.network.play.server.S14PacketEntity *
public net.minecraft.client.network.NetHandlerPlayClient *
public-f net.minecraft.client.Minecraft *
public-f net.minecraft.server.MinecraftServer *
public net.minecraft.client.Minecraft$SwitchMovingObjectType field_152390_a
public net.minecraft.world.World field_72998_d #collidingBoundingBoxes

#Classes
public net.minecraft.server.management.PlayerManager$PlayerInstance
public net.minecraft.client.Minecraft$SwitchMovingObjectType